{
  "env": {
    "browser": true,
    "es6": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": 2022,
    "sourceType": "module",
  },
  "plugins": ["react", "@typescript-eslint", "prettier", "simple-import-sort"],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/no-explicit-any": "error",
    // Если вы хотите сгруппировать импорты, используйте ниже.
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
}
